<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="DataSource" value="xx" />
		<add key="DatabaseName" value="xx" />
		<add key="UserName" value="xx" />
		<add key="Password" value="xx" />
		<add key="DataConnection" value="Data Source=_datasource_;Initial Catalog=_dbname_;Integrated Security=False;User ID=_user_;Password=_password_;Min Pool Size=10;Max Pool Size=200;" />
		<add key="HostMail" value="xx" />
		<add key="HostEMailFromAddress" value="xx" />
		<add key="HostEMailFromTo" value="xx" />
		<!--<add key="HostEMailCC" value="" />-->
		<add key="HostEMailCC" value="xx" />
		<add key="Port" value="25" />
		<add key="SentToUser" value="false" />
		<add key="Link" value="xx" />
		<add key="LogPath" value="xx" />
		<add key="Remider" value="1" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>
