<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="DataSource" value="10.92.0.197" />
		<add key="DatabaseName" value="Rapid4New" />
		<add key="UserName" value="sa" />
		<add key="Password" value="P@ssw0rdrpfl4" />
		<add key="DataConnection" value="Data Source=_datasource_;Initial Catalog=_dbname_;Integrated Security=False;User ID=_user_;Password=_password_;Min Pool Size=10;Max Pool Size=200;" />
		<add key="HostMail" value="mailhost.sgp.fujixerox.com" />
		<add key="HostEMailFromAddress" value="No-Reply-FBTH-RP4-Duty-Stamp@fujifilm.com" />
		<add key="HostEMailFromTo" value="salinrat.w.sq@fujifilm.com;parntipaporn.s.pt@fujifilm.com;watchara.b.gi@fujifilm.com" />
		<!--<add key="HostEMailCC" value="" />-->
		<add key="HostEMailCC" value="salinrat.w.sq@fujifilm.com" />
		<add key="Port" value="25" />
		<add key="SentToUser" value="false" />
		<add key="Link" value="http://tha-rpfl4-dev01/Zukami/compositeview.aspx?ID=b5b0778d-f243-4ef8-be37-35152fb92dec&amp;a=0cda0fba-df15-4ecd-ad7e-0187b4b9c98d" />
		<add key="LogPath" value="C:\Users\thpratha\Documents\Project\Duty Stamp\Programe\Duty_Stemp_Console\Duty_Stamp_SendEmail_Clone_Transaction\Duty_Stamp_SendEmail_Clone_Transaction\bin\Debug\Log\" />
		<add key="Remider" value="1" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>